<!DOCTYPE html>
<html>
    <head>
        <title>大家來翻譯</title>
        <% include ../modules/header.ejs %>
    </head>

    <body>
        <% include ../modules/nav.ejs %>

        <div class="container">
            <div>
                <div>
                    <h2>已經想好要翻哪一篇了嗎？</h2>
                </div>
                <form action="/translate" method="post">
                    <input type="text" class="form-control" name="url" placeholder="http://9gag.com/gag/aeGR40O" />
                </form>
            </div>
            <p></p>
            <div>
                <div>
                    <h2>或是瀏覽最新的圖呢？</h2>
                </div>
                <div id="fresh">
                </div>
            </div>
        </div>
    </body>

    <script type="text/babel" src="/js/contribute.js"></script>
</html>
