<!DOCTYPE html>
<html>
    <head>
        <title>大家來翻譯</title>
        <% include ../modules/header.ejs %>
    </head>

    <body>
        <% include ../modules/nav.ejs %>
        <div id="content"></div>
    </body>

    <script src="/js/edit.js"></script>
</html>
