<!DOCTYPE html>
<html>
    <head>
        <title>大家來翻譯</title>
        <% include ../modules/header.ejs %>
    </head>

    <body>
        <% include ../modules/nav.ejs %>
        <div class="col-md-6 col-md-offset-3"><h2><%= errMsg %></h2></div>
    </body>
</html>
