<!DOCTYPE html>
<html>
    <head>
        <title>大家來翻譯</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/index.css" />
    </head>

    <body>
        <% include ../modules/nav.ejs %>

        <div class="container">
            <div>
                <div><h2>衝了啦</h2></div>
                <p>
                    <img src="https://3.bp.blogspot.com/-1InnwFcSbuA/Vv-gpUO_tkI/AAAAAAAAo1M/tbZskQjrxLQa4hJNFbg0WUVOsCGWtCXSA/s1600/04_come.jpg"></img>
                </p>
                <p>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default">出處</button>
                        <button type="button" class="btn btn-default">修正</button>
                    </div>
                </p>
                <hr>
            </div>
            <div>
                <div><h2>離我遠一點</h2></div>
                <p>
                    <img src="https://1.bp.blogspot.com/-8iOdLL5_1ms/Vv-gojIhPDI/AAAAAAAAo1A/HI4aO-7KNAYRPsjTGjlOc8C9qCyPr5mvg/s1600/02_apple.jpg"></img>
                </p>
                <p>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default">出處</button>
                        <button type="button" class="btn btn-default">修正</button>
                    </div>
                </p>
                <hr>
            </div>
        </div>
    </body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</html>
